@model List<SistemaWebTatuajes.Models.Promociones>

@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header bg-dark text-white">
            Lista de Promociones
        </div>
        <div class="card-body">
            <p>
                <a asp-action="Create" class="btn btn-outline-primary"><i class="fas fa-plus"></i> Nueva promoción</a>
            </p>
            @if (Model != null && Model.Count > 0)
            {
                <div class="row">
                    @foreach (var item in Model)
                    {

                        <div class="col-lg-4 mb-3">
                            <div class="card">
                                <div class="card-header bg-primary text-white">
                                    ID: @item.id_Promocion
                                </div>
                                <div class="card-body text-justify altura">
                                    @item.nom_Promocion
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-outline-info" onclick="editar(@item.id_Promocion)"><i class="fas fa-edit"></i></button>
                                    <button class="btn btn-outline-danger" onclick="eliminar(@item.id_Promocion)"><i class="fas fa-trash"></i></button>
                                </div>
                            </div>
                        </div>

                    }
                </div>
             }
            else
            { <p>No hay información.</p>}

        </div>
    </div>
</div>

<script>


    //FUNCION PARA EDITAR
    function editar(id) {
        window.location.href = "/Promocion/Edit?idPromocion=" + id;
    }
    //FUNCION PARA ELIMINAR
    function eliminar(id) {

        alertify.confirm("Información", "Esta seguró que desea eliminar esta promoción?",
            function () {
                $.ajax({
                    type: "POST",
                    url: "/Promocion/Delete",
                    data: { id_Promocion: id },
                    beforeSend: function () {
                        $(".contenedor-loader").slideToggle();
                    },
                    success: function (r) {
                        switch (r) {
                            case 1:
                                window.location.href = "/Promocion/Index";
                                break;
                            case 2:
                                $(".contenedor-loader").slideToggle();
                                alertify.error("<i class='fas fa-times'></i> Error al eliminar.");
                                break;
                        }
                    },
                    error: function () {
                        $("#contenedor-loader").slideToggle();
                    }
                });
            },
            function () {
                alertify.error('Canceló.');
            });

    }


</script>



