<div class="contenedor-loader font-weight-bold">
    <div class="contenedor-loader-centrar">
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <p style="margin-top: 85px;">Procesando datos..por favor espere...</p>
    </div>
</div>
